.about-catalog {
    h2 {
        margin-bottom: 24px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 16px;
        line-height: 123.7%;
        /* identical to box height, or 30px */
        text-align: center;
        text-transform: uppercase;
        
        color: #212022;
    }
    &__list {
        margin-bottom: 80px; 
        justify-content: center;
    }
    &__item {
        padding: 20px;
        max-width: 413px;
        text-align: center;
        background: #FFFFFF;
        border: 1px solid #5934C2;
        box-shadow: 3px 4px 6px rgba(174, 168, 168, 0.25);
        border-radius: 30px;
        margin-bottom: 17px;
        h3 {
            font-weight: 700;
            font-size: 16px;
            line-height: 123.7%;
            /* identical to box height, or 25px */

            text-transform: uppercase;

            color: #212022;
            margin-bottom: 28px;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 283px;
            height: 56px;
            font-weight: 400;
            font-size: 14px;
            line-height: 123.7%;
            /* or 22px */

            text-transform: uppercase;

            color: #FFFFFF;
            background: #5934C2;
            border-radius: 29.2373px;

            margin: 0 auto;
        }
    }
    li {
        margin-bottom: 10px;
    }
    a {
        font-weight: 600;
        font-size: 14px;
        line-height: 123.7%;
        /* or 22px */

        text-transform: uppercase;

        color: #FFFFFF;

    }
    &__btn-phone {
        position: relative;
        padding-left: 30px;
        font-weight: 600;
        font-size: 14px;
        line-height: 123.7%;
        /* or 22px */

        text-transform: uppercase;

        color: #FFFFFF;
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
            width: 18px;
            height: 18px;
            // background-color: #212022;
            background-image: url('./images/about-phone.png');
            background-repeat: no-repeat;
            background-size: cover;

        }
    }
    &__btn-mail {
        position: relative;
        padding-left: 30px;
        font-weight: 600;
        font-size: 14px;
        line-height: 123.7%;
        /* or 22px */

        text-transform: uppercase;

        color: #FFFFFF;
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
            width: 20px;
            height: 16px;
            // background-color: #212022;
            background-image: url('./images/about-mail.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    

}

@media (min-width: $screen-table) {
    

}

@media (min-width: $screen-desktop) {
    .about-catalog {
        a{
            font-size: 24px;
            &::after {
                top: 5px
            }
        }
        h2 {
            margin-bottom: 57px;
            font-weight: 700;
           font-size: 38px;
            line-height: 123.7%;
            /* identical to box height, or 77px */
            
            text-align: center;
            text-transform: uppercase;
            
            color: #212022;
        }
        &__list {
            margin-bottom: 80px; 
            justify-content: space-between;
        }
        &__item {
            padding: 20px;
            max-width: 413px;
            text-align: center;
            background: #FFFFFF;
            border: 1px solid #5934C2;
            box-shadow: 3px 4px 6px rgba(174, 168, 168, 0.25);
            border-radius: 30px;

            h3 {
                font-weight: 700;
                font-size: 24px;
                line-height: 123.7%;
                /* or 40px */
                
                text-align: center;
                text-transform: uppercase;
                
                color: #212022;
                margin-bottom: 28px;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 339px;
                height: 67px;
                font-weight: 400;
                font-size: 20px;
                line-height: 123.7%;
                /* identical to box height, or 30px */
                
                text-transform: uppercase;
                
                color: #FFFFFF;
                background: #5934C2;
                border-radius: 29.2373px;
    
                margin: 0 auto;
            }
        }
    
    }
}