.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.55) 0%, rgba(186, 186, 186, 0.2145) 100%);
    &__adrees {
        display: none;
        flex-direction: column;
        position: relative;
        padding-left: 34px;
        margin-left: 22px;
        // &::after {
        //     content: "";

        //     position: absolute;
        //     top: 6px;
        //     left: 6px;

        //     display: block;
        //     width: 18px;
        //     height: 19px;

        //     background-image: url("./images/phone.png");
        //     background-repeat: no-repeat;
        //     background-size: contain;

        // }
        a {
            font-weight: 500;
            font-size: 24px;
            line-height: 123.7%;
            /* or 37px */
            
            text-align: right;
            text-transform: uppercase;
            
            color: #000000;
        }
    }
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    width: 54vw;
    height: 100vh;
    background:#F0F0F0;
    background-size: 100%;
    background-repeat: no-repeat;

    &__btn-close {
        position: absolute;
        top: 30px;
        right: 30px;
        i {
            color: #fff;
        }
    }

    z-index: 9999999999999999999;
    &__title {
        margin-top: 32px;
        margin-bottom: 32px;
        font-family: 'Amatic SC';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 43px;
        /* identical to box height, or 85% */

        text-align: center;

        color: #7C7C7C;
    }
    &__list {
        padding-top: 23px;
        padding-left: 23px;
        display: flex;
        flex-direction: column;
        // align-items: center;
    }
    &__item {
        margin-bottom: 8px;
    }   
    &__link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 123.7%;
        /* identical to box height, or 100% */
        
        letter-spacing: 0.01em;
        
        color: #000000;
    }
    &__adrees {
        position: relative;
        padding-left: 34px;
        margin-left: 22px;
        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 123.7%;
            /* or 37px */
            
            // text-align: right;
            text-transform: uppercase;
            
            color: #000000;
        }
        div {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            /* identical to box height, or 133% */

            letter-spacing: 0.01em;

            color: #7C7C7C;
        }
    }

}
.menu--active {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5934C2 !important;  
    .menu__list {
        text-align: center;
        
    } 
    .menu__adrees {
        margin: 0;
        padding: 0;
    }
    a {

        color: #fff;
    }
}
.menu-burger {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition-duration: .5s;
    border: 2px solid #FFf;
    z-index: 999;
    background: #5934C2 !important;   
    span {
        display: block;
        width: 16px;
        height: 2px;
        background-color: #FFFFFF;
        transition-duration: .5s;
    }
    
    &--active {
        span {
            position: absolute;
            top: 19px;
            left: 12px;
        }
        & span:nth-child(2) {
            display: none;
        }
        & span:first-child {
            transform: rotate(45deg);

        }
        & span:last-child {
            transform: rotate(-45deg);

        }
    }
}


@media (min-width: $screen-desktop) {
    .header {
        position: absolute  ;
        max-width: 1280px;
        max-width: 1280px;
        border-radius: 30px;
        left: 50%;
        transform: translateX(-50%);
        top: 35px;
        .container {
            padding: 24px 29px !important;
        }
        &__adrees {
            display: flex;
            padding: 0;
            margin: 0;
            width: 571px;
        
        }
        
    }
    .menu {
        display: block;
        position: static;
        height: auto;
        width: 100vw;
        background-image: none;
        max-width: 820px;
        margin: 0 auto;
        background:transparent;
        &__title {
            display: none;
        }
        &__btn-close {
            display: none;
        } 
        &__list {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            max-width: 627px;
            margin: 0 auto;

        }
        &__item {
            margin-bottom: 0;
        }
        &__link {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 28px;
            line-height: 123.7%;
            /* identical to box height, or 100% */
            
            letter-spacing: 0.01em;
            
            color: #000000;

        }
        &__adrees {
            display: none;
        }
    }
    .menu--active {

        background: transparent !important;  
        .menu__list {
            text-align: center;
            
        } 
        .menu__adrees {
            margin: 0;
            padding: 0;
        }
        a {
    
            color: #000000;
        }
    }
    .menu-burger  {
        display: none !important ;
    }

}
