.news {
  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 123.7%;
    /* identical to box height, or 30px */

    text-align: center;
    text-transform: uppercase;

    color: #212022;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 268px;
    height: 54px;
    font-weight: 400;
    font-size: 18px;
    line-height: 123.7%;
    /* or 22px */

    text-transform: uppercase;

    color: #5934C2;
    border: 1px solid #5934C2;
    border-radius: 35px;
    transition-duration: .5s;
    &:hover{
      background: #5934C2;
      color: #fff;
    }
  }
}

@media (min-width: $screen-table) {

}

@media (min-width: $screen-desktop) {
    .news {
      margin-bottom: 85px;
        h2 {
          margin-top: 50px;
          margin-bottom: 50px;
          font-weight: 700;
         font-size: 38px;
          line-height: 123.7%;
          /* identical to box height, or 77px */
          
          text-align: center;
          text-transform: uppercase;
          
          color: #212022;
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          width: 376px;
          height: 78px;
          font-weight: 400;
          font-size: 20px;
          line-height: 123.7%;
          /* identical to box height, or 30px */
          
          text-transform: uppercase;
          
          color: #5934C2;
          border: 1px solid #5934C2;
          border-radius: 35px;
        }
      }
}
