.schedule {
  padding-top: 50px;
  h2 {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 123.7%;
    /* or 30px */
    
    text-align: center;
    text-transform: uppercase;
    
    color: #212022;
  }
  &__item {
    
    background: #FFFFFF;
    box-shadow: 4px 4px 6px rgba(174, 168, 168, 0.25);
    border-radius: 30px;
    overflow: hidden;
    img {
      width: 100%;
    }
    
  }
  &__item-wrapp { 
    padding: 13px;
    h3 {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 13px;
      line-height: 20px;
      text-transform: uppercase;

      color: #212022;
    }
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      
      color: #212022;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120.96px;
      height: 30.65px;

      border: 0.828479px solid #5934C2;
      border-radius: 28.9968px;

      font-weight: 400;
      font-size: 12px;
      line-height: 123.7%;
      /* identical to box height, or 15px */

      text-transform: uppercase;

      color: #5934C2;
      transition-duration: .5s;
      &:hover{
        background: #5934C2;
        color: #fff;
      }
    }
  }
  &__slider {
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 60px;
}

}

@media (min-width: $screen-table) {
    
}


@media (min-width: $screen-desktop) {
  .schedule {
    // padding-top: 126px;
    h2 {
      margin-bottom: 57px;
      font-weight: 700;
     font-size: 38px;
      line-height: 123.7%;
      /* identical to box height, or 77px */
      
      text-transform: uppercase;
      
      color: #212022;
    }
    &__item {
      max-width: 414px;
      
      background: #FFFFFF;
      box-shadow: 4px 4px 6px rgba(174, 168, 168, 0.25);
      border-radius: 30px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    &__item-wrapp { 
      padding: 13px;
      h3 {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
  
        color: #212022;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        
        color: #212022;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 146px;
        height: 37px;
  
        border: 0.828479px solid #5934C2;
        border-radius: 28.9968px;
  
        font-weight: 400;
        font-size: 14px;
        line-height: 123.7%;
        /* identical to box height, or 15px */
  
        text-transform: uppercase;
  
        color: #5934C2;
      }
    }
    &__slider {
      max-width: 1280px;
      margin: 0 auto;
      padding-bottom: 110px;
    }
  }
}
